* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    background-color: #f5f5f5;
}

.default-flex-card {
    height: auto;
    min-height: unset;
}

.auth-card {
    width: 440px;
}

.margin-default-container {
    padding: 15px;
}

.margin-auth-container {
    padding: 64px;
}

.full-width {
    width: 100%;
}

.center {
    text-align: center;
}

.full-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    border-radius: 64px;
}